h1, h2, h3, p, input[type=submit], .button1{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-top: 20px;
  color: darkcyan;
}

h2 {
  font-size: 30px;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid darkcyan;
}

input[type=submit]{
  background-color: darkcyan;
  padding: 10px 16px;
}

a {
  text-align: center
}

table
{
margin: auto;
}
td
{
text-align :center;
}

.contour{
  border: 2px solid;
  padding: 3px
}